.square {
  height: clamp(80px, 30vw, 100px);
  width: clamp(80px, 30vw, 100px);
  background-color: #3700b3;
}

.choices {
  height: 80px;
  width: clamp(80px, 30vw, 344px);
  background-color: #bb86fc;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.cross,
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 900;
}

.circle {
  font-size: 40px;
}

.turn {
  background-color: white;
}

.opacity {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(12, 12, 12, 0.3);
  min-height: 100vh;
  min-width: 100vw;
  z-index: 1;
}

.winner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(12, 12, 12, 0.5);

  min-height: 100vh;
  min-width: 100vw;
  z-index: 2;
}

.container-winner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150 px;
  width: 300px;
  background-color: aliceblue;
}
