.square {
  height: 80px;
  width: 80px;
  background-color: blueviolet;
}

.choices {
  height: 80px;
  width: clamp(250px, 12vw, 300px);
  background-color: aqua;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cross,
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 900;
  background-color: blue;
}

.circle {
  font-size: 40px;
  background-color: brown;
}
