.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  width: clamp(250px, 12vw, 300px);
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}
