.App {
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #bb86fc;
  padding: 15px;
  display: grid;
  justify-content: space-between;
  gap: clamp(5px, 9vw, 7px);
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}
